<div id="comments" class="mt-2">
    <% @post.comments.order(created_at: "DESC").each do |comment| %>
        <div class="dropdown-divider mb-1"></div>
        <div id="comment">
            <%= fa_icon 'user-circle', class: 'mr-2' %>
            <span class="mr-2"><%= comment.user.name %></span>
            <span class="text-muted"><%= comment.created_at %></span>
            <div class="p-3 text-muted"><%= comment.content %></div>
        </div>
    <% end %>
</div>