$("#comment-content > textarea").val('');
$("#comments").html('<% @comments.each do |comment| %><div class="mt-2"><%= fa_icon "user-circle" %><%= comment.user.name %><br /><%= comment.content %></div><% end %>');