<%= form_for(current_user.active_likes.find_by(post_id: @post.id), html: { method: :delete }, remote: true) do |form| %>
    <button type="submit" id="unlike_btn" class="btn btn-white"><%= fa_icon 'thumbs-up', class: "text-success" %></button>
<% end %> 