<nav class='border-right'>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <%= fa_icon("home") %> ホーム
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <%= fa_icon("home") %> あなたの習慣
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <%= fa_icon("home") %> ランキング
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <%= fa_icon("home") %> ランキング
            </a>
        </li>
    </ul>
</nav>